<div class="container">
  <div class="row">
    <div class = "col-md">
      <div style="margin: 30px;">
        <span style="font-size:20px;background-color:#dcdcdc">商品詳細</span>
      </div>

      <table>
        <tr style="padding:30px">
          <td>商品名</td>
          <td><%= @items.name %></td>
        </tr>

        <tr style="padding:30px">
          <td>商品説明</td>
          <td></td>
        </tr>

        <tr style="padding:30px">
          <td>ジャンル</td>
          <td></td>
        </tr>

        <tr style="padding:30px">
          <td>
            税込価格<br />
            (税抜価格)
          </td>
          <td></td>
        </tr>

        <tr style="padding:30px">
          <td>販売ステータス</td>
          <td></td>
        </tr>
      </table>